body {
    background-color: #000000;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#title-button {
    background: none;
    cursor: pointer;
    border: none;
    font-family: auto;
    position: relative;
    z-index: 1;
}

h1 {
    color: white;
    text-shadow: 0px 0px 3px black;
}

.m-letters {
    opacity: 0;
    letter-spacing: -20px;
    display: inline-block;
}

.m-letters-reveal {
    animation: letters-fade 7s linear;
    animation-fill-mode: forwards;
}

@keyframes letters-fade {
    0% {
        opacity: 0;
        letter-spacing: -16px;
        margin-right: 0px;
    }
    50% {
        opacity: 0;
        letter-spacing: -8px;
        margin-right: 8px;
    }
    100% {
        opacity: 1;
        letter-spacing: 0px;
        margin-right: 16px;
    }
}

.button-rotate {
    animation: swivel 30s linear infinite;
}

@keyframes swivel {
    0% {
        transform: rotate3d(1, 2, 1, 0deg);
    }
    100% {
        transform: rotate3d(1, 2, 1, -359deg);
    }
}

audio {
    display: none;
}

.guys {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -75px;
    border-radius: 50%;
    cursor: pointer;
}

.guys:hover {
    box-shadow: 0px 0px 85px rgb(203, 99, 207);
}

.guy-reveal {
    animation: emerge 5s ease-in;
    animation-fill-mode: forwards;
}

@keyframes emerge {
    from {
        width: 0px;
        height: 0px;
        transform: rotate(0deg) translate(0px, 0px) rotate(-0deg);
    }
    to {
        width: 150px;
        height: 150px;
        transform: rotate(40deg) translate(150px, 0px) rotate(-40deg);
    }
}

.guy-rotate {
    animation: rotate 25s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    0% {
        width: 150px;
        height: 150px;
        transform: rotate(40deg) translate(150px, 0px) rotate(-40deg);
    }
    100% {
        width: 150px;
        height: 150px;
        transform: rotate(400deg) translate(150px, 0px) rotate(-400deg);
    }
}
