body {
    background-color: #000000;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
}

#title-button {
    background: none;
    cursor: pointer;
    border: none;
    font-family: auto;
    position: relative;
    z-index: 1;
}

h1 {
    color: white;
    text-shadow: 0px 0px 3px black;
    font-family: serif;
    text-decoration: underline;
}

.m-letters {
    opacity: 0;
    letter-spacing: -20px;
    display: inline-block;
}

.m-letters-reveal {
    animation: letters-fade 7s linear;
    animation-fill-mode: forwards;
}

@keyframes letters-fade {
    0% {
        opacity: 0;
        letter-spacing: -16px;
        margin-right: 0px;
    }
    50% {
        opacity: 0;
        letter-spacing: -8px;
        margin-right: 8px;
    }
    100% {
        opacity: 1;
        letter-spacing: 0px;
        margin-right: 16px;
    }
}

.button-rotate {
    animation: swivel 30s linear infinite;
}

@keyframes swivel {
    0% {
        transform: perspective(100) rotate3d(1, 0, 1, 0deg) rotate3d(0, 1, 0, 0deg);
    }
    13% {
        transform: perspective(100) rotate3d(1, 0, 1, -30deg) rotate3d(0, 1, 0, -30deg);
    }
    38% {
        transform: perspective(100) rotate3d(1, 0, 1, 30deg) rotate3d(0, 1, 0, 30deg);
    }
    63% {
        transform: perspective(100) rotate3d(1, 0, 1, -30deg) rotate3d(0, 1, 0, 30deg);
    }
    88% {
        transform: perspective(100) rotate3d(1, 0, 1, 30deg) rotate3d(0, 1, 0, -30deg);
    }
    100% {
        transform: perspective(100) rotate3d(1, 0, 1, 0deg) rotate3d(0, 1, 0, 0deg);
    }
}

audio {
    display: none;
}

.guys {
    width: 0px;
    height: 0px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -75px;
    margin-top: -75px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 0;
}

.guys:hover {
    box-shadow: 0px 0px 85px rgb(203, 99, 207);
}

.guy-reveal {
    animation: emerge 5s ease-in;
    animation-fill-mode: forwards;
}

@keyframes emerge {
    from {
        width: 0px;
        height: 0px;
        transform: rotate(0deg) translate(0px, 0px) rotate(-0deg);
    }
    to {
        width: 150px;
        height: 150px;
        transform: rotate(40deg) translate(150px, 0px) rotate(-40deg);
    }
}

.guy-rotate {
    animation: rotate 25s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes rotate {
    0% {
        width: 150px;
        height: 150px;
        transform: rotate(40deg) translate(150px, 0px) rotate(-40deg);
    }
    100% {
        width: 150px;
        height: 150px;
        transform: rotate(400deg) translate(150px, 0px) rotate(-400deg);
    }
}

#background {
    position: absolute;
    height: 2000px;
    width: 2000px;
    margin-top: -1000px;
    margin-left: -1000px;
    top: 50%;
    left: 50%;
    z-index: -1;
    animation: rotate-in-place 90s infinite linear;
    overflow: hidden;
}

@keyframes rotate-in-place {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
